<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="preload" href="../assets/fonts/Poppins.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="../assets/fonts/Roboto.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <title>Bwangubwangu ICT Consultancy</title>
</head>
<body>
    <header class="bg-deep-blue text-white p-4 flex justify-between items-center">
        <div class="logo">
            <img src="../assets/images/logo.png" alt="Bwangubwangu ICT Consultancy Logo" class="h-8">
        </div>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="../pages/index.html">Home</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/services.html">Services</a></li>
                <li><a href="../pages/blog.html">Blog</a></li>
                <li><a href="../pages/index.html#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>